<!-- <div class="app">
  <dynamic-form
    [config]="config"
    #form="dynamicForm"
    (submit)="submit($event)">
  </dynamic-form>
  {{ form.valid }}
  {{ form.value | json }}
</div>

<form [formGroup]="myForm">
  <label for="control">Control</label>
  <input id="control" formControlName="control">
</form> -->

<!-- <button (click)="updateValueWithoutEmitEvent('new value')">Set Value Without Emit Event</button> -->

<!-- <ejs-spreadsheet #spreadSheetInstance>
  <e-sheets>
    <e-sheet name="Work Orders">
      <e-ranges>
        <e-range [dataSource]="aSpreadSheetData"></e-range>
      </e-ranges>
    </e-sheet>
  </e-sheets>
</ejs-spreadsheet> -->

<!-- <ejs-spreadsheet openUrl='https://services.syncfusion.com/angular/production/api/spreadsheet/open' #spreadsheet></ejs-spreadsheet>

<div class="container">
  <input type="file" (change)="onFileChange($event)" />
</div> -->

<!-- <ejs-documenteditorcontainer #documentEditor
  serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/"
  id="container" height="600px" [enableToolbar]=true></ejs-documenteditorcontainer> -->
<!-- <ejs-documenteditor serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/" #documentEditor></ejs-documenteditor> -->

<!-- <div class="container">
  <input type="file" (change)="onOpenDocument($event)" />
</div> -->


<!-- <div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i = index">
      <ng-container *ngTemplateOutlet="addressTemplate; context: { $implicit: address, index: i }"></ng-container>
    </div>
    <button type="button" (click)="addAddress()">Add Address</button>
    <button type="submit">Submit</button>
  </form>

  <ng-template #addressTemplate let-address let-i="index">
    <div [formGroup]="address" class="address-group">
      <label>
        Street:
        <input type="text" formControlName="street" required />
      </label>
      <label>
        City:
        <input type="text" formControlName="city" required />
      </label>
      <label>
        Country:
        <input type="text" formControlName="country" required />
      </label>
      <button type="button" (click)="removeAddress(i)">Remove</button>
    </div>
  </ng-template>
</div>

<button (click)="patchValue()">Patch value</button>
<h1>Test</h1>
<input type="text" [(ngModel)]="obj.id" />
<button (click)="onSubmitValue()">Submit</button> -->

<nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>