<!-- <div class="app">
  <dynamic-form
    [config]="config"
    #form="dynamicForm"
    (submit)="submit($event)">
  </dynamic-form>
  {{ form.valid }}
  {{ form.value | json }}
</div> -->

<form [formGroup]="myForm">
  <label for="control">Control</label>
  <input id="control" formControlName="control">
</form>

<button (click)="updateValueWithoutEmitEvent('new value')">Set Value Without Emit Event</button>

<!-- <ejs-spreadsheet #spreadSheetInstance>
  <e-sheets>
    <e-sheet name="Work Orders">
      <e-ranges>
        <e-range [dataSource]="aSpreadSheetData"></e-range>
      </e-ranges>
    </e-sheet>
  </e-sheets>
</ejs-spreadsheet> -->

<!-- <ejs-spreadsheet openUrl='https://services.syncfusion.com/angular/production/api/spreadsheet/open' #spreadsheet></ejs-spreadsheet>

<div class="container">
  <input type="file" (change)="onFileChange($event)" />
</div> -->

<ejs-documenteditorcontainer
  serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/"
  id="container" height="600px" [enableToolbar]=true></ejs-documenteditorcontainer>
